<div class="card bg-faded question_<%= question.id %>">
  <div class="card-block">
    <h2 id="question_header_<%= question.id %>" class="text-center"><%= question.content %></h2>
    <h6 id="question_info_<%= question.id %>" class="mb-2 text-muted text-center"><%= time_ago_in_words(question.created_at) %> ago by <strong><%= User.find(question.user_id).email %></strong></h6>
    <% if question.user_id == current_user.id %>
    <center>
      <%= link_to "Edit", edit_user_question_path(question.user_id, question), remote: true, class: "edit_link_#{question.id} btn btn-outline-warning"%>
      <%= link_to "Delete", user_question_path(question.user_id, question), class: "delete_link_#{question.id} btn btn-outline-danger", method: :delete %>
    </center>
    <div class="edit_form_<%= question.id %>">
    </div>
    <% end %>
    <div class="row">
      <div class="card col-sm-12 col-md-5 question_<%=question.id%>" style="width: 20rem;"><br>
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= question.choice_a %></h4>
          <%= link_to "Vote", root_path(question, like: question.id), class: "btn btn-outline-success" %> Total: <%= question.get_likes.size %>
        </div>
      </div>
      <div class="card col-sm-12 col-md-5 offset-md-2 question_<%=question.id%>" style="width: 20rem;"><br>
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= question.choice_b %></h4>
          <%= link_to "Vote", root_path(question, dislike: question.id), class: "btn btn-outline-info" %> Total: <%= question.get_dislikes.size %>
        </div>
      </div>
    </div>
    <br>
    <center>
    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: <%= question.get_likes.size.to_f==0 ? 0 :  (question.get_likes.size.to_f/(question.get_likes.size.to_f + question.get_dislikes.size.to_f)) * 100 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: <%= 100-(question.get_likes.size.to_f==0 ? 0 :  (question.get_likes.size.to_f/(question.get_likes.size.to_f + question.get_dislikes.size.to_f)) * 100) %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </center>
    <br>
    <div class="">
      <h5 class="text-center">Discussion</h5>
      <div class="row">
        <div class="comment_<%=question.id%>">
          <%= link_to 'New Comment', new_question_comment_path(question, Comment.new), remote: true, class: 'btn btn-outline-primary', id:  "new_comment_#{question.id}"  %>
        </div>
        <% if question.comments %>
          <div class="comments">
            <% question.comments.each do |comment| %>
            <%= render 'comments/new_comment', question: question, comment: comment %>
            <% end %>
          </div>
        <br>
      <% end %>
      </div>
    </div>
  </div>
</div>
